card {
    margin-left: 40px;
}

.card-body {
    text-align: center;
}

p {
    overflow-y: scroll;
    max-width: 300px;
    max-height: 150px;
}

.col-md-4 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-column {
    justify-content: flex-end;
}

.center-column {
    justify-content: center;
}

.right-column {
    justify-content: flex-start;
}
